@import 'web';

.container {
	.comparison {
		margin-top: 12px;

		.textSize {
			margin-bottom: 8px;

			.measurements {
				.measurement {
					b {
						margin-right: 8px;
					}
				}
			}
		}
	}
}
