@import 'theme';

@keyframes addBackgroundPicture {
  from { background-size: 0; }
  to { background-size: 100%; }
}

.error {
	background-image: url('/images/patterns/paisley-red.jpg');
	border-color: $ui-error-color;
}

.loading {
	.buttonText { padding: 0px 4px; }
}

.success {
	background-image: url('/images/patterns/paisley-green.jpg');
	border-color: $ui-success-color;
}

button {
	.buttonText {
		background-color: $theme-color-primary;
		padding: 4px 8px;
		border-radius: 4px;
		color: $white;
	}
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 0;
	transition: background-size 0.2s;
	background-image: url('/images/patterns/paisley-purple.jpg');

	&:disabled {
		cursor: not-allowed;
		background-image: url('/images/patterns/paisley-gray.jpg');
		border-color: $gray;
	}

	&:hover {
		background-size: 100%;
	}
}
