@import 'theme';

.primary {
	background-color: $theme-color-primary;
}

.secondary {
	background-color: $theme-color-secondary;
}

.tertiary {
	background-color: $theme-color-tertiary;
}

.quaternary {
	background-color: $theme-color-quaternary;
}