@import 'web';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		max-width: $content-max-width;
		min-height: calc(100vh - #{$nav-height} - #{$footer-height});
		padding: 16px;
	}
}
