{
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"extends": [
		"plugin:compat/recommended",
		"airbnb",
		"plugin:jest/style"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"jest"
	],
	"rules": {
		"consistent-return": 1,
		"func-style": [
			1,
			"declaration",
			{
				"allowArrowFunctions": true
			}
		],
		"import/named": 1,
		"indent": [
			1,
			"tab"
		]
	},
	"settings": {
		"import/resolver": {
			"babel-module": {}
		}
	}
}