@import 'web';

.thumb {
	input {
		display: none;
		&:checked ~ svg path:last-child {
			fill: $theme-color-tertiary;
		}
	}
	svg {
		cursor: pointer;
		fill: $white;
		stroke-width: 2;

		path:last-child {
			stroke: $text-color;
		}
	}
}

