@import 'web';

.sizechart {
	display: flex;
	flex-direction: column;

	.chainAttribute {
		margin-bottom: 8px;
		display: flex;
		flex-direction: column;

		.list {
			display: flex;
			flex-direction: row;
		}
	}
}
