@import 'web';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		max-width: $content-max-width;
		padding: 16px;
	}
}

@include mobile {
	.container {
		.content {
			padding-top: 0;
		}
	}
}
