@import 'web';

.container {
	background-color: $white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	margin-bottom: 16px;

	.feedItem {
		display: flex;
		flex-direction: column;
		width: 80%;
		max-width: 600px;
		margin: 4px 0;
		padding: 4px 8px;
		border-radius: 2px;
		background-color: $white;
		box-shadow: 1px 1px 2px $light-gray;

		.row {
			display: flex;
			flex-direction: row;

			> span {
				margin-right: 4px;
			}
		}

		pre {
			background-color: $light-gray;
			padding: 2px 4px;
			border-radius: 2px;
		}
	}
}
