@import 'web';

.wrapper {
	g {
		color: $white;
		path {
			stroke: currentColor;
		}
		text {
			opacity: 0;
			fill: currentColor;
			font-size: 6px;
			transition: opacity 0.4s;
		}
		&:nth-child(3n+2) {
			color: $theme-color-tertiary;
		}
		&:nth-child(3n+3) {
			color: $theme-color-quaternary;
		}
	}
}