@import 'web';

.wrapper {
	background-color: $dark-gray;

	g {
		color: $white;

		path {
			stroke: currentColor;
		}

		text {
			fill: currentColor;
			font-size: 2px;
			transition: opacity 0.4s;
		}

		&:nth-child(3n+2) {
			color: $theme-color-tertiary;
		}

		&:nth-child(3n+3) {
			color: $theme-color-quaternary;
		}
	}
}