@import 'web';

.container {
	display: flex;
	.menu {
		display: flex;
		flex-direction: column;

		.measurementSet {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 8px 4px;
			padding: 8px 4px;
			border-radius: 2px;
			border: 2px solid $theme-color-primary;
			background-color: $theme-color-primary;
			border-color: $theme-color-primary;
			color: $white;

			label {
				cursor: pointer;
			}

			&:nth-of-type(3n+2) {
				background-color: $theme-color-tertiary;
				border-color: $theme-color-tertiary;
			}
			&:nth-of-type(3n+3) {
				background-color: $theme-color-quaternary;
				border-color: $theme-color-quaternary;
			}
		}
	}
}
