@import 'web';

$mobile-first-child-height: 36vh;

.fixedWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 100%;
		padding: 0 4px;
		box-sizing: border-box;
	}
}

@include mobile {
	.fixedWrap {
		.container {
			width: 100%;

			&:first-child {
				position: fixed;
				left: 0;
				top: $nav-height;
				margin-top: 2px;
				height: $mobile-first-child-height;
				background-color: $white;
				z-index: 1;
			}

			&:last-child {
				margin-top: $mobile-first-child-height;
				align-items: flex-start;
			}
		}
	}
}