@import 'theme';

.container {
	display: flex;
	flex-direction: column;

	.wrapper {
		height: 80vh;

		.garment {
			stroke: $theme-color-primary;
		}

		.measurements {
			stroke: transparent;

			path {
				transition: stroke 0.6s;
			}

			.selected {
				stroke: $theme-color-secondary;
			}
		}
	}

	.segments {
		align-self: center;

		.segment {
			cursor: pointer;
		}
	}
}