@import './colors';
@import './edges';

button {
	appearance: none;
	border-radius: $button-border-radius;
	padding: 16px 24px;
	background-color: $theme-color-primary;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 16px;
}
