@import './colors';
@import './edges';

button {
	appearance: none;
	border-radius: $button-border-radius;
	padding: 16px 24px;
	color: $theme-color-primary;
	background-color: currentColor;
	border: 4px solid currentColor;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}
