// https://mycolor.space/?hex=%23FFAA00&sub=1

$theme-color-primary: #000;
$theme-color-secondary: #ffaa00;
$theme-color-tertiary: #00c5fd;
$theme-color-quaternary: #ff15c2;

$ui-error-color: #b32400;
$ui-success-color: #0a9725;
$ui-warning-color: #ff751a;
$ui-disabled-color: #9ab0a6;
$ui-link-color: #006dd7;
$ui-link-visited-color: #9025bb;

$white: #fff;
$light-gray: #ccc;
$gray: #666;
$dark-gray: #262626;
$text-color: #0d0d0d; // not mathematically related
