$theme-color-primary: purple;
$theme-color-secondary: orange;
$theme-color-tertiary: green;
$theme-color-quaternary: blue;

$ui-error-color: red;
$ui-success-color: green;
$ui-warning-color: orange;
$ui-link-color: blue;

$white: #fff;
$light-gray: #f2f2f2;
$gray: #cbcbcb;
$dark-gray: #a6a6a6;
$text-color: black;
