// https://mycolor.space/?hex=%23FF5233&sub=1

$theme-color-primary: #ff5233;
$theme-color-secondary: #5ab7d4;
$theme-color-tertiary: #5f63e3;
$theme-color-quaternary: #fd247b;

$ui-error-color: #8c0000;
$ui-success-color: #40a400;
$ui-warning-color: #ec6700;
$ui-disabled-color: #487e90;
$ui-link-color: #0076c6;
$ui-link-visited-color: #5f63e3;

$white: #fff;
$light-gray: #ede9d0;
$gray: #bea6a0;
$dark-gray: #56423d;
$text-color: #322724; // not mathematically related
