@import './colors';
@import './edges';

.inputContainer {
	display: flex;
	flex-direction: column;

	.errorText {
		color: $ui-error-color;
	}

	label {
		margin: 8px 0;
		font-weight: bold;
	}
}

input, select {
	appearance: none;
	box-shadow: none;
	border: 2px solid $dark-gray;
	border-radius: $input-border-radius;
	padding: 8px;
	transition: border-color 0.4s;
	color: $text-color;

	&::placeholder {
		transition: color 0.4s;
		color: $dark-gray;
	}

	&[type="checkbox"] {
		width: 24px;
		&:checked {
			background-color: $theme-color-tertiary;
		}
	}
}