@import './breakpoints';
@import './theme';

$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-subheader: 32px;
$font-size-header: 40px;

$content-max-width: 1200px;
$nav-height: 60px;
$footer-height: 40px;

:global(#__next) {
	display: flex;
	flex-direction: column;
	font-family: $theme-font-secondary;
	color: $text-color;
}

html body {
	display: flex;
	flex-direction: column;
	margin: 0;

	p,
	a,
	b,
	input,
	span,
	label,
	button,
	div {
		font-size: $font-size-regular;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: $theme-font-primary;
		font-weight: bold; // prob wont work :(
	}

	h1 {
		font-size: $font-size-header;
		margin: 16px 0;
	}

	h2 {
		font-size: $font-size-subheader;
		margin: 12px 0;
	}

	h3,
	h4 {
		font-size: $font-size-large;
		margin: 8px 0;
	}

	h5 {
		font-size: $font-size-regular;
		margin: 4px 0;
	}

	p {
		margin: 4px 0;
		line-height: 1em;
		min-height: 1em;
	}

	input,
	button,
	div,
	a {
		&:focus {
			outline: none;
		}
	}

	a,
	button,
	input[type="checkbox"],
	input[type="radio"] {
		cursor: pointer;
	}

	a {
		color: $ui-link-color;

		&:visited {
			color: $ui-link-visited-color;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 400px;

		.cta {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 8px 0;
		}

		.error {
			color: $ui-error-color;
			font-size: $font-size-small;
		}

		> .error {
			margin-bottom: 12px;
			text-align: center;
		}
	}

}