@import 'web';

.sizechart {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 8px;

	h3 {
		margin-top: 0;
	}

	.list {
		margin-bottom: 8px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
