@import 'web';

.container {
	.segment {
		cursor: pointer;
		padding: 8px 16px;
		border-radius: 4px;
		transition: color 0.4s, background-color 0.6s;

		&.selected {
			background-color: $theme-color-secondary;
			color: $white;
		}
	}
}
